@mixin typicalBtn {
    background-color: transparent;
    border: 3px solid $gray;
    min-width: 15rem;
    padding: 1rem 0;
    font-family: $text_font;
    font-size: 1.2em;
    font-weight: bold;
    color: $gray;
    text-transform: lowercase;
    margin: 4rem 2rem;
    transition: .5s ease;

    &:hover {
        background-color: #BFBFBF;
    }
}

@mixin typicalLink {
    color: $gray;
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}